<div class="image-container">
  <img src="assets/images/about-1.png" alt="About Us" />
  <img src="assets/images/about-2.png" alt="About Us" />
  <img src="assets/images/about-3.png" alt="About Us" />
  <img src="assets/images/about-4.png" alt="About Us" />
</div>
<div class="text-container">
  <div class="heading-container">
    <h3 class="fancy-text">About Us</h3>
    <div class="vertical-line"></div>
  </div>
  <h2>Welcome to <fa-icon [icon]="faUtensils" class="fa-1x card-icon"></fa-icon> Restoran</h2>
  <div class="subtext-container">
    <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam ametdiam et eos erat ipsum et lorem et sit, sed stet lorem sit.</p>
    <p>
      Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit
      clita duo justo magna dolore erat amet
    </p>
    <div class="secondary-text">
      <div class="text-wrapper">
        <h2 class="number">
          <span class="horizontal-line"></span>
          13
        </h2>
        <div>
          <p class="main-text">Years of</p>
          <p class="sub-text">EXPERIENCE</p>
        </div>
      </div>
      <div class="text-wrapper">
        <h2 class="number">
          <span class="horizontal-line"></span>
          50
        </h2>
        <div>
          <p class="main-text">Popular</p>
          <p class="sub-text">MASTER CHEFS</p>
        </div>
      </div>
    </div>
    <app-button label="READ MORE"></app-button>
  </div>
</div>
