:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-block: 96px;
}

.team-members-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}

app-team-member-card {
  flex: 1 1 calc(100% - 24px);
}

/* Tablet styles */
@media (min-width: 768px) {
  :host {
    gap: 30px;
  }

  app-team-member-card {
    flex: 1 1 calc(50% - 24px);
  }
}

/* Desktop styles xl */
@media (min-width: 1440px) {
  .team-members-wrapper {
    flex-direction: row;
    flex-wrap: unset;
    align-items: flex-start;
  }
}
